# Fase 1: Comprender el Negocio

Contexto del negocio: El banco Dormammu ha adquirido a Monopoly y necesita entender el comportamiento
de sus clientes para preparar una estrategia adecuada de abordaje.
Objetivos:
1. Conocer a los clientes a través de sus patrones de comportamiento.
2. Identificar qué productos financieros usan más frecuentemente.
3. Proponer una estrategia de marketing basada en el análisis de datos.

# Preguntas planteadas:
#### 1. ¿Cuáles son los productos financieros más utilizados?
#### 2. ¿Qué tipo de clientes tienen más propensión a solicitar créditos?
#### 3. ¿Existe un grupo de clientes que tienda a permanecer más tiempo con productos bancarios específicos?

# Carga de librerias

In [1]:
# Importar las librerías necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
import tensorflow as tf

# Convertir DataSet Xlsx a CSV y guardar en ruta establecida

In [2]:
# Ruta al archivo Excel
""" file_path = "dataSet/Base_clientes_Monopoly.xlsx" """

# Leer el archivo Excel con pandas
""" df = pd.read_excel(file_path, sheet_name="Transición de Negocio") """

# Convertir el archivo a CSV
""" df.to_csv("dataSet/Base_clientes_Monopoly.csv", index=False) """

## Mensaje de éxito
print("Archivo convertido a CSV con éxito")

Archivo convertido a CSV con éxito

# Carga Inicial del Data Set

In [3]:
# Leer el archivo CSV (convertido previamente desde Excel)
file_path = "dataSet/Base_clientes_Monopoly.csv"
df = pd.read_csv(file_path)

C:\Users\jpfue\AppData\Local\Temp\ipykernel_15484\2440891704.py:3: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,573) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

# Fase 2: Comprender los Datos

In [4]:
# Visualizamos los primeros datos show
df.head(10)

,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,1.565,1.566,1.567,1.568,1.569,1.570,1.571,1.572,1.573,574
0,Id,Subsegmento,Sexo,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,...,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,IndRev_T01,target,NaN
1,1,160,M,13,43,NaN,130,1,1,0,...,33000,0,1099866,0,1099866,15080,0,R,0,NaN
2,2,160,H,13,46,143640,69,1,0,0,...,300000,0,214592,0,214592,83596,0,R,0,NaN
3,3,170,H,13,45,929106,24,1,1,0,...,216676,0,0,0,7400,0,0,T,0,NaN
4,4,151,H,13,46,172447,134,0,1,0,...,60000,0,272762,0,272762,10591,0,R,0,NaN
5,5,170,H,13,46,805250,116,0,1,1,...,272925,0,249562,0,75339,377782,0,R,0,NaN
6,6,170,H,13,47,707664,67,1,1,0,...,35800,0,35800,0,0,51197,0,R,0,NaN
7,7,811,H,13,48,1022833,21,1,0,1,...,9391,0,8818,0,8818,0,0,T,0,NaN
8,8,170,H,13,46,NaN,69,0,1,1,...,6000,0,283520,0,283520,0,0,R,0,NaN
9,9,170,H,13,49,1171066,33,0,0,0,...,60000,0,507629,0,507629,0,0,R,1,NaN

### Usamos el argumento 'header=1' al leer el archivo para omitir la primera fila incorrecta

In [5]:
# Releer el archivo saltando la primera fila
df = pd.read_csv('dataSet/Base_clientes_Monopoly.csv', header=1)

In [6]:
# Visualizamos los primeros datos show
df.head(10)

,Id,Subsegmento,Sexo,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,...,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,IndRev_T01,target,Unnamed: 574
0,1,160,M,13.0,43,NaN,130,1,1,0,...,33000,0.0,1099866.0,0.0,1099866.0,15080,0.0,R,0,NaN
1,2,160,H,13.0,46,143640.0,69,1,0,0,...,300000,0.0,214592.0,0.0,214592.0,83596,0.0,R,0,NaN
2,3,170,H,13.0,45,929106.0,24,1,1,0,...,216676,0.0,0.0,0.0,7400.0,0,0.0,T,0,NaN
3,4,151,H,13.0,46,172447.0,134,0,1,0,...,60000,0.0,272762.0,0.0,272762.0,10591,0.0,R,0,NaN
4,5,170,H,13.0,46,805250.0,116,0,1,1,...,272925,0.0,249562.0,0.0,75339.0,377782,0.0,R,0,NaN
5,6,170,H,13.0,47,707664.0,67,1,1,0,...,35800,0.0,35800.0,0.0,0.0,51197,0.0,R,0,NaN
6,7,811,H,13.0,48,1022833.0,21,1,0,1,...,9391,0.0,8818.0,0.0,8818.0,0,0.0,T,0,NaN
7,8,170,H,13.0,46,NaN,69,0,1,1,...,6000,0.0,283520.0,0.0,283520.0,0,0.0,R,0,NaN
8,9,170,H,13.0,49,1171066.0,33,0,0,0,...,60000,0.0,507629.0,0.0,507629.0,0,0.0,R,1,NaN
9,10,170,M,13.0,44,964387.0,23,1,1,0,...,92583,0.0,65487.0,0.0,65487.0,12084,0.0,R,0,NaN

In [7]:
# Exploración de los datos con estadística descriptiva
df.describe()

,Id,Subsegmento,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,Monoproducto,...,ColMx_T01,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,target,Unnamed: 574
count,51124.000000,51124.000000,51071.000000,51124.000000,3.775900e+04,51124.000000,51124.000000,51124.000000,51124.000000,51124.000000,...,5.112400e+04,5.112400e+04,5.112400e+04,5.112400e+04,51124.000000,5.112400e+04,5.112400e+04,51124.000000,51124.000000,0.0
mean,25562.500000,182.024274,10.828220,38.702879,6.630771e+05,38.896154,0.684199,0.256181,0.381347,0.063141,...,5.237914e+03,7.637553e+04,1.734930e+03,1.939488e+05,7.323155,1.840923e+05,1.360327e+05,8.294372,0.089977,NaN
std,14758.371918,29.276596,3.392703,13.302573,4.092795e+05,35.672549,0.464839,0.436527,0.485722,0.243218,...,4.852871e+04,1.490256e+05,4.235368e+04,2.884980e+05,108.161194,2.891731e+05,4.325389e+05,113.215624,0.286152,NaN
min,1.000000,151.000000,1.000000,9.000000,1.000000e+00,6.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,-1.861866e+06,-7886.760000,-3.763997e+06,-4.000000e+00,-7785.120000,0.000000,NaN
25%,12781.750000,160.000000,9.000000,28.000000,4.199990e+05,14.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,5.000000e+03,0.000000e+00,3.198100e+04,0.000000,1.770750e+04,0.000000e+00,0.000000,0.000000,NaN
50%,25562.500000,170.000000,13.000000,35.000000,5.670120e+05,25.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000e+00,3.400150e+04,0.000000e+00,9.223050e+04,0.000000,8.112900e+04,2.964650e+04,0.000000,0.000000,NaN
75%,38343.250000,210.000000,13.000000,46.000000,8.149035e+05,54.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000e+00,9.200000e+04,0.000000e+00,2.359780e+05,0.000000,2.278145e+05,1.021022e+05,0.000000,0.000000,NaN
max,51124.000000,959.000000,13.000000,104.000000,1.308933e+07,324.000000,1.000000,1.000000,1.000000,1.000000,...,2.072818e+06,8.697782e+06,4.219680e+06,6.911556e+06,3929.810000,6.911556e+06,1.178549e+07,3929.810000,1.000000,NaN

In [8]:
# Exploración de los datos con estadística descriptiva con 2 decimales
df.describe().round(2)

,Id,Subsegmento,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,Monoproducto,...,ColMx_T01,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,target,Unnamed: 574
count,51124.00,51124.00,51071.00,51124.0,37759.00,51124.00,51124.00,51124.00,51124.00,51124.00,...,51124.00,51124.00,51124.00,51124.00,51124.00,51124.00,51124.00,51124.00,51124.00,0.0
mean,25562.50,182.02,10.83,38.7,663077.08,38.90,0.68,0.26,0.38,0.06,...,5237.91,76375.53,1734.93,193948.78,7.32,184092.34,136032.72,8.29,0.09,NaN
std,14758.37,29.28,3.39,13.3,409279.46,35.67,0.46,0.44,0.49,0.24,...,48528.71,149025.59,42353.68,288497.98,108.16,289173.13,432538.88,113.22,0.29,NaN
min,1.00,151.00,1.00,9.0,1.00,6.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,-1861866.00,-7886.76,-3763996.60,-4.00,-7785.12,0.00,NaN
25%,12781.75,160.00,9.00,28.0,419999.00,14.00,0.00,0.00,0.00,0.00,...,0.00,5000.00,0.00,31981.00,0.00,17707.50,0.00,0.00,0.00,NaN
50%,25562.50,170.00,13.00,35.0,567012.00,25.00,1.00,0.00,0.00,0.00,...,0.00,34001.50,0.00,92230.50,0.00,81129.00,29646.50,0.00,0.00,NaN
75%,38343.25,210.00,13.00,46.0,814903.50,54.00,1.00,1.00,1.00,0.00,...,0.00,92000.00,0.00,235978.00,0.00,227814.50,102102.25,0.00,0.00,NaN
max,51124.00,959.00,13.00,104.0,13089327.00,324.00,1.00,1.00,1.00,1.00,...,2072817.58,8697782.00,4219680.00,6911556.00,3929.81,6911556.00,11785487.00,3929.81,1.00,NaN

In [9]:
# Revisar los tipos de datos que contiene la columna Sexo en el DataFrame
df['Sexo'].value_counts()

Sexo
H    27410
M    23713
Name: count, dtype: int64

In [10]:
# convertir la columna Sexo a valores numéricos (0 y 1)
df['Sexo'] = df['Sexo'].map({'H': 0, 'M': 1})

### Cambiaremos los nombres de atributos a un nombre más fácil de entender en español y que explique por sí solo el contenido de el target

In [11]:
# Diccionario para cambiar los nombres de los atributos
nuevos_nombres = {
    'Id': 'ID_Cliente',
    'Subsegmento': 'Subsegmento_Cliente',
    'Sexo': 'Genero',
    'Region': 'Region_Residencia',
    'Edad': 'Edad_Cliente',
    'Renta': 'Renta_Cliente',
    'Antiguedad': 'Antiguedad_Cliente',
    'Internauta': 'Usa_Web_Banco',
    'Adicional': 'Tiene_TC_Adicional',
    'Dualidad': 'Tiene_Multiples_TC',
    'Monoproducto': 'Usa_Solo_TC',
    'Ctacte': 'Tiene_Cuenta_Corriente',
    'Consumo': 'Tiene_Credito_Consumo',
    'Hipotecario': 'Tiene_Credito_Hipotecario',
    'Debito': 'Tiene_Tarjeta_Debito',
    'CambioPin': 'Cambio_Clave_Tarjeta',
    'Cuentas': 'Numero_Cuentas',
    'TC': 'Numero_TC',
    'CUPO_L1': 'Cupo_Comp_Nacional_TC',
    'CUPO_L2': 'Cupo_Avances_Cuotas_TC',
    'CUPO_MX': 'Cupo_Comp_Internacional_TC',
    'FlgAct_T12': 'Actividad_TC_Mes12',
    'Fac_T12': 'Monto_Facturado_TC_Mes12',
    'Txs_T12': 'Num_Transacciones_TC_Mes12',
    'PagoNac_T12': 'Monto_Pagos_Nacionales_Mes12',
    'PagoInt_T12': 'Monto_Pagos_Internacionales_Mes12',
    'EeccNac_T12': 'Monto_Exigido_Nacional_Mes12',
    'EeccInt_T12': 'Monto_Exigido_Internacional_Mes12',
    'UsoL1_T12': 'Deuda_Comp_Nacional_TC_Mes12',
    'UsoL2_T12': 'Deuda_Avances_Cuotas_TC_Mes12',
    'UsoLI_T12': 'Deuda_Comp_Internacional_TC_Mes12',
    'IndRev_T12': 'Indicador_Revolvencia_Mes12'
    # Puedes seguir añadiendo más columnas si es necesario
}

# Renombrar las columnas en el DataFrame
df_renombrado = df.rename(columns=nuevos_nombres)

# Ver los nuevos nombres de las columnas
df_renombrado.columns

Index(['ID_Cliente', 'Subsegmento_Cliente', 'Genero', 'Region_Residencia',
       'Edad_Cliente', 'Renta_Cliente', 'Antiguedad_Cliente', 'Usa_Web_Banco',
       'Tiene_TC_Adicional', 'Tiene_Multiples_TC',
       ...
       'PagoNac_T01', 'PagoInt_T01', 'EeccNac_T01', 'EeccInt_T01', 'UsoL1_T01',
       'UsoL2_T01', 'UsoLI_T01', 'IndRev_T01', 'target', 'Unnamed: 574'],
      dtype='object', length=575)

### Removimos el Id ya que es un correlato de la Data y no nos da valor en el análisis